.nav {
    background-color: #d3c091;
    grid-area: n;
}

.item {
    display: block;
    text-decoration: none;
    color: white;
}



.itemActive {
    text-decoration: none;
    color: #ad2d46 !important;
}

