.nav {
    background-color: #d3c091;
    grid-area: n;
}

/*.item{*/
/*    display: block;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*}*/

/*.item  {*/
/*    text-decoration: none;*/
/*    color: red;*/
/*}*/


.link {
    text-decoration: none;
    color: white;
}

.linkActive {
    text-decoration: none;
    color: #ad2d46 !important;
}